@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Fira+Sans:wght@400;500;600&family=Germania+One&family=Josefin+Sans&family=Lato&family=Lobster&family=Nunito&family=Oleo+Script&family=Oswald:wght@300;400;500;700&family=PT+Sans:ital@1&family=Poppins:wght@400;500&family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}
@mixin btn {
    padding: 15px 33px;
    font-size: 13px;
    margin-top: 20px;
    background:linear-gradient(to right bottom,#6c63ff,#b309f18f,);
    color: white;
    border: 0;
    outline: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: pt sans;
    font-weight: bold;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Ubuntu', sans-serif;
}
header{
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.05);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        img{
            width: 100px;
            height: 40px;
            object-fit: cover;
        }
    
        .nav_links{

            .profile{
                display: none;
            }
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                li{
                    padding: 10px;
                    transition: all .2s ease-in-out;
                    &:hover{
                        background: #f2f2f2;
                    }
                    a{
                        color:#3f3d56;
                        cursor: pointer;
                    }
                }
            }
        } 
        .menu_icon{
            display: none;
            font-size: 24px;
        }
    }
}
header.fixed{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: white;
    z-index: 99;
}


main{
    height: 90vh;
    background:linear-gradient(to bottom left,rgba(255, 255, 255, 1) 90%,#6c63ff 10%);
    .container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #3f3d56;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        .img{
            width: 400px;
            height: 400px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .div1{
            max-width: 700px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        p{
            font-size:25px;
            line-height: 1.6;
        }
        p.head{
            margin-bottom: 40px;
            margin: 0;
            font-family: 'Ubunto', sans-serif;
            font-size: 20px;
        }
        p.b2{
            font-size: 18px;
            font-family: 'PT sans', sans-serif;
        }
        h3{
            font-size: 45px;
            margin: 10px 0;
            font-weight: 800;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
        }
        .btns{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            a.resume{
              @include btn();
              margin: 20px 0;
            }
            div{
                overflow: hidden;
                a{
                    padding: 15px;
                    font-size: 20px;
                    background:linear-gradient(to right bottom,#4138f9e5,#b309f18f,);
                    color:white;
                    display: inline-flex;
                    padding: 15px;
                    border-radius:24px;
                    margin-right: 5px;
                }
            }
        }
    }
    }
}

.title{
    padding: 20px 0;
    text-align: center;
    h2{
        font-size: 30px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: #3f3d56;
        span{
            color: #6c63ff;
        }
    }
}
.about{
    padding: 60px 0;
    .container{
        .grid{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            img{
                flex: 1;
                height: 400px;
                max-width: 400px;
                object-fit: cover;
            }
            .text{
                flex: 1;
                height: 400px;
                justify-content: center;
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                .name{
                    text-transform: uppercase;
                    color: #6c63ff;
                    font-size: 30px;
                    margin-bottom: 10px;
                }
                p{
                    line-height: 1.6;
                    color: #3f3d56;
                    margin-bottom: 20px;
                    opacity: .9;
                }
                a{
                    @include btn()
                }
            }
        }
    }
    
}
.projects{
    padding: 60px 0;
    background: rgba(0,0,0,.01);
    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 20px;
        padding: 10px;
        .card{
            padding: 10px;
            background: rgba(0,0,0,.05);
            border: 1px solid rgba(0,0,0,.15);
            &:hover{
                box-shadow: 0 0 10px rgba(255, 0, 0, 0.25);
            }
            .image{
                height: 240px;
                width: 100%;
                overflow: hidden;
                background: white;
                position: relative;
                img{
                    width: 250px;
                    height: 200px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    object-fit: cover;
                }
            }
            .text{
                padding:20px 0px;
                .name{
                    text-transform: uppercase;
                    color: #0c0677;
                    margin-bottom: 10px;
                }
                p{
                    line-height: 1.6;
                    margin-bottom: 15px;
                    color: #3f3d56;
                }
                .links{
                    display: flex;
                    gap: 10px;
                    a{
                        background:rgba(0,0,0,.15);
                        border:1px solid rgba(0,0,0,.2);
                        display: block;
                        height: 40px;
                        width: 120px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #0c0677;
                        transition: all .3s ease-in-out;
                        padding-left:10px;
                        &:hover{
                            background: #7111f0;
                            color: white;
                        }
                        i{
                            margin-left: 10px;
                        }
                    }
                    a:nth-child(1){
                        background: #7111f0;
                        color: white;
                    }
                }
            }
        }
    }
}
@media (max-width:991px) {
    main{
        background: linear-gradient(to bottom left,rgba(255, 255, 255, .85) 90%,#6c63ff 10%),url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774) no-repeat center center/cover;
    }
    .container{
        max-width: 768px;
    }
    main .container{
        .img{
            display: none;
        }
        // display: grid;
        grid-template-columns: 1fr;
        .div1{
            width: 100%;
        }
    }
    header .container .menu_icon{
        display: flex;
        cursor: pointer;
    }
    header .container .nav_links{
        position: absolute;
        top: 10vh;
        left: 0;
        height: 0;
        width: 100%;
        background: #f2f2f2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all .3s ease-in-out;
        z-index: 88;
        ul{
            margin-top: 10px;
            flex-direction: column;
            li{
                padding: 15px;
                width: 100%;
                text-align: center;
                &:hover{
                    background: white;
                }
            }
        }
        .profile{
            margin-top: 40px;
            display: block;
            height: 160px;
            width: 160px;
            border-radius: 100%;
            overflow: hidden;
            margin-left: 50%;
            transform: translate(-50%);
            margin-bottom: 20px;
            border: 4px solid rgba(12, 6, 119, 0.2);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
    header .container .nav_links.active{
        height: 100%;
    }
    .contact .container .grid{
        grid-template-columns: 1fr;
    }  
}
@media (max-width:768px) {
   
    .container{
        max-width: 568px;
    }
    main .container .div1 h3{
        font-size: 40px;
    }
    .about .container .grid{
        flex-direction: column;
        img{
            max-width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            border: 5px solid #0d0b3558;
        }
    }
}

@media (max-width:568px) {
    .projects .container{
        max-width: 400px;
    }
}
.contact{
    font-family: 'Ubuntu', sans-serif;
    padding: 80px 0;
    .container{
        .title{
            margin-bottom: 30px;
            h2{
                margin-bottom: 20px;
            }
        }
        .personal{
            margin-bottom: 20px;
        }
        .inner{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
            margin-top: 10px;
            margin-bottom: 60px;
            .list{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 8px;
                .icon{
                    background: #6b63ff58;
                    display: block;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #0c0677;
                    margin-right: 8px;
                }
                .name{
                    color: #3f3d56;
                }
            }
        }
        .grid{

            display: flex;
            justify-content: center;
            align-items: center;
            .img{
                overflow: hidden;
                max-width:450px;
                height:400px;
                object-fit: cover;
                flex: 1;
            }
            .form{
                flex: 1;
                input, textarea{
                    padding:15px 10px;
                    width: 100%;
                    box-sizing: border-box;
                    border: 1px solid rgba(0,0,0,.5);
                    margin-bottom: 15px;
                    outline: none;
                }
                label{
                    margin-bottom: 10px;
                }
                button{
                    width: 100%;
                    padding: 15px;
                    border: 0;
                    background: #554eddb0;
                    color: white;
                }
                width: 100%;
            }
        }
    }
}
.skills{
    padding: 40px 0;
    background: rgba(0,0,0,.02);
    .container{
        max-width: 800px;
        .grid{
            display: grid;
            gap: 30px;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
            .card{
                background-color: white;
                height: 200px;
                width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 33px;
                    margin-bottom: 10px;
                    color: #5ed3f3;
                }
                .fa-html5{
                    color: #de4c26;
                }
                .fa-css3{
                    color: #1a6fb4;
                }
                .fa-js{
                    color: #efd81d;
                }
                .fa-bootstrap{
                    color: #7111f0;
                }
                .fa-sass{
                    color: #c76494;
                }
                .fa-react{
                    color: #5ed3f3;
                }
                h4{
                    color: #0c0677;
                    position: relative;
                    padding-bottom: 5px;
                    &::after{
                        position: absolute;
                        content: '';
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 80%;
                        height: 1px;
                        background: #1a6fb4;
                    }
                }
            }
        }
    }
}
footer{
    background: #7111f0;
    padding: 10px 0;
    text-align: center;
     color: rgba(255, 255, 255, 0.764);
    .container{
        p{
            font-family: pt sans;
            margin-bottom: 10px;
            a{
                color: #0c0677;
                text-decoration: underline;
            }
        }
        div{
            overflow: hidden;
            a{
                padding: 10px;
                font-size: 15px;
                background:linear-gradient(to right bottom,#b6b5c8e5,#b309f18f,);
                color:white;
                display: inline-flex;
                border-radius:24px;
                margin-right: 5px;
            }
        }
    }
}
@media (max-width:991px) {
    .contact .container .grid{
        flex-direction: column;
        .img{
            width: 100%;
            height: 400px;
        }
    }
    .contact .container .grid{
        img{
            display: none;
        }
    }
}
